/** @format */

* {
  margin: 0;
  padding: 0;
}
.Head--title {
  text-align: center;
}
.App {
  text-align: center;
}
.list--style {
  display: flex;
  justify-content: end;
  background-color: black;
  padding: 10px 0px;
}
.list--style li {
  margin: 0px 20px;
  list-style: none;
  font-size: 1.5rem;
}
.Navbar--link {
  color: white;
  text-decoration: none;
}
.list--style .active {
  color: red;
}
.Main--Container {
  display: flex;
  justify-content: space-around;
}
.Main--Container .Box {
  margin: 0px 15px;
}
.Box p {
  text-align: center;
  font-size: 1.3rem;
}
.Box img {
  display: block;
  width: 100%;
  height: 400px;
}
